.container {
    text-align: center;
}

#map {
    display: inline-block;
}

#weather {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    vertical-align: top;
}

.value {
    font-weight: bold;
}